@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #333;
    color: #fff; 
    font-family: 'Open Sans', sans-serif; 
}

header, h1, h2 {

    color: #90ee90; 
    text-align: center; 
}

.btn {
    display: inline-block;
    width: auto; 
    margin: 10px; 
    background-color: #52bc52; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.btn:hover {
    background-color: #7ccd7c; 
    border: 2px solid #fff;
}

.button-container {
    text-align: center;
}
ul{
    text-align: center;
}

li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
}